body {
  background-color: f2f2f2;
}

.page-header{
  
  
  background: none repeat scroll 0% 0% #C8102E;
  position: relative;
  height: 120px; 
  
}
.page-header {
  font-family: ;: Tahoma, Geneva, sans-serif;
  font-style: white;
 
}
